
<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="CustomersController"> 


<div id="messages" ng-show="message">{{ message }}</div>

<form ng-submit="processForm()" >

	Nama <input name="nama" ng-model="formData.nama"/>
	Place <input name="place"ng-model="formData.place"/>
	<input type="submit"/>
</form>

{{formData}}
</div>


<script>
var app = angular.module('myApp', []);
app.controller('CustomersController', function($scope, $http) {
 
 	$scope.formData = {};

	$scope.processForm = function() {
		//alert(JSON.stringify($scope.formData));
	  $http({
	  method  : 'POST',
	  url     : '../api/customer',
	  data    : JSON.stringify($scope.formData),  // pass in data as strings
	  headers : { 'Content-Type': 'application/json' }  // set the headers so angular passing info as form data (not request payload)
	 })
	  .success(function(data) {
	    console.log(data);

	    if (!data.success) {
	      // if not successful, bind errors to error variables
	      $scope.message = data.message;
	      $scope.message = data.message;
	    } else {
	      // if successful, bind success message to message
	      $scope.message = data.message;
	    }
	  });
	};

});
</script>


</body>
</html>
